{% extends "base.html" %}

{% block title %}Supprimer un Type d'Engin{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4 text-danger">Supprimer un Type d'Engin</h1>
    <p class="text-center">Êtes-vous sûr de vouloir supprimer <strong>{{ type_engin.nom_type_engin }}</strong> ?</p>
    <form method="post" class="text-center">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Oui</button>
        <a href="{% url 'type_engin_list' %}" class="btn btn-secondary">Non</a>
    </form>
</div>
{% endblock %}