{% extends "base.html" %}

{% block title %}Liste des Vendeurs{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Liste des Vendeurs</h1>
<a href="{% url 'vendeur_create' %}" class="btn btn-primary mb-3">Ajouter un Vendeur</a>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Zone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vendeur in vendeurs %}
            <tr>
                <td>{{ vendeur.nom_du_vendeur }}</td>
                <td>{{ vendeur.email }}</td>
                <td>{{ vendeur.zone }}</td>
                <td>
                    <a href="{% url 'vendeur_update' vendeur.id %}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{% url 'vendeur_delete' vendeur.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}